.header {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: white;
}

.logo {
  height: 40px;
  margin-right: 15px;
}

.title {
  font-size: 1.5rem;
  color: #ea1d49;
  margin-left: 1rem;
}

footer {
  text-align: center;
  color: #037ef9;
}

.footer {
  text-align: center;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: #f9f7f7;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* .p-menubar-item-content */

::ng-deep .p-menubar-item:not(.p-disabled) > .p-menubar-item-content:hover {
    color: white !important;
    background: #59a8f7 !important;
}

::ng-deep .p-menubar-item:not(.p-disabled) > .p-menubar-item-content:hover .p-menubar-item-icon {
    color: white !important;
}

::ng-deep .p-menubar{
  background: #f8fafc !important;
  color: #1275d6 !important;
  font-style: normal;
  font-weight: 600 !important;
}

::ng-deep .p-menubar-item-content{
  color: #1275d6 !important;
}

/* scroll start */

.news-ticker {
  width: 100%;
  color: #e40707;
  padding: 2px 0;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  font-weight: 600;
}

.news-content {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: ticker 30s linear infinite;
}

.news-ticker:hover .news-content {
  animation-play-state: paused;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* scroll end */