.container {
  padding: 0;
}

.top-section {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.slider {
  flex: 1 1 60%;
}

.members {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: spx auto;
}

.member-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about-us {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color:#f6f6e4; /*#f4f4f4;*/
  border-radius: 8px;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galleria-image {
  width: 100%;
  height: 480px; /* or whatever consistent height you prefer */
  object-fit: cover; /* keeps proportions and fills the area */
  display: block;
}