.container {
  padding: 0;
  padding-top: 0.5rem;
}

.top-section {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.slider {
  flex: 1 1 60%;
}

.member-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about-us {
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 1rem;
  background-color:#f5f8f9; /*#f4f4f4;*/
  border-radius: 8px;
  font-size: large;
  font-family: sans-serif;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galleria-image {
  width: 100%;
  height: 480px; /* or whatever consistent height you prefer */
  object-fit: cover; /* keeps proportions and fills the area */
  display: block;
}

.member-info {
  text-align: center;
}

.margin-top-0 {
  margin-top: 0;
}

.text-center{
  text-align: center;
}

.no-underline {
  text-decoration: none;
}


/* Default (Mobile) */
.members {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
}

/* Desktop and Tablets */
@media screen and (min-width: 768px) {
  .members {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
